<% include ./partials/header%>

<h1 class="title">MEN'S CLOTHING & ACCESSORIES</h1>


<ul class="grid">

<% clothes.forEach(function(clothe){ %>
        <li>
            <img src="<%= clothe.image %>">
            <h4><%= clothe.name%></h4>
        </li>    
<% }); %>
</ul>



<% include ./partials/footer%>