
.dropdown:hover>.dropdown-menu {
  display: block;
}
header{
        background-color: rgb(128,0,128);
}

.input-group{
    width: 30%;
    margin: auto;
    padding-top: 10px;
    background-color: rgb(128,0,128);
}

.navbar{
    background-color: rgb(128,0,128);
    color: white;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar-light .navbar-brand{
    color: white;
}

/*special style*/
section{
    background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.special{
    display: flex;
    justify-content:space-around;
}
.special li{
    list-style: none;
}




