<% include partials/header %>

<h3>I fall in love with <%= nameItem %></h3>

<% if(nameItem === "hesky"){ %>
    <p>good choice </p>
<% } else{  %>
    <p>bad choice</p>
<% } %>
<% include partials/footer %>
